/* Fonts */

@font-face {
  font-family: Abel;
  src: url('../fonts/Abel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Quattrocento;
  src: url('../fonts/QuattrocentoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: QuattrocentoBold;
  src: url('../fonts/QuattrocentoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* General */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: #fafafa;
  font-family: 'Quattrocento', Arial, Helvetica, Verdana, sans-serif;
}

#container {
  position: relative;
  width: 400px;
  min-height: 165px;
  height: 100%;
  padding: 10px;
}

h1 {
  font-family: 'Abel';
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  margin-top: 0;
}

p {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Quattrocento', Arial, Helvetica, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  outline: 0;
}

.clearfix {
  clear: both;
}

/* Actions */

#save-band {
  background-color: #E31B23;
  color: #fafafa;
  font-weight: 400;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
}

#save-band a {
  color: #fafafa;
  width: 100%;
  padding: 10px 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.4);
  display: block;
}

#list-bands {
  font-weight: 400;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;

  background: #3F3F3F;
  background-image: linear-gradient(#4B4B4B, #333);
  background-image: -o-linear-gradient(#4b4b4b, #333333);
  background-image: -ms-linear-gradient(#4b4b4b, #333333);
  background-image: -moz-linear-gradient(#4b4b4b, #333333);
  background-image: -webkit-linear-gradient(#4B4B4B, #333);
  border-bottom: 1px solid #000;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

#list-bands a {
  color: #fafafa;
  text-shadow: 0 1px 0 rgba(0,0,0,.4);
  width: 100%;
  padding: 10px 0;
  display: block;
}

/* Overlays */

.overlay {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0,0,0,.8);
  z-index: 2;
  padding-top: 40px;
  color: #fff;
  text-align: center;

  font-family: 'Abel', Arial, sans-serif;
  font-weight: 200;
}

.overlay a {
  text-decoration: none;
  background-color: #E31B23;
  border-radius: 3px;
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
}

.message {
  display: none;
}

/* List bands */

#back a {
  color: #333;
}

#list {
  display: none;
}

.band {
  position: relative;
  width: 100%;
  background-color: #eaeaea;
  margin: 10px 0;
  max-height: 120px;
}

.band-left {
  width: 120px;
  margin-right: 20px;
  float: left;
}

.band-right {
  width: 240px;
  max-height: 105px;
  float: left;
  padding-right: 15px;
}

.band-name {
  font-size: 18px;
  margin: 10px 0;
  max-width: 240px;
}

.band-name a {
  color: #000;
}

.band-tags {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
}

.band-tags span {
  display: inline-block;
  background-color: green;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.band-img {
  width: 120px;
  height: 120px;
  margin: 0;
  overflow: hidden;
}

.portrait img {
  width: 100%;
}

.landscape img {
  height: 100%;
}

.delete-band {
  position: absolute;
  width: 10px;
  height: 10px;
  text-indent: -999999px;
  background: transparent url('../images/trash.png') no-repeat;
  background-size: contain;
  top: 10px;
  right: 10px;
  opacity: .2;
}

.delete-band:hover {
  opacity: 1;
}